# Code owners for graphic_2d
[graphic_2d base]
.gitcode/CODEOWNERS @lijj01
bundle.json @lijj01

[cross-platform]
rosen/modules/glfw_render_context/ @aslklw

[drawing]
rosen/modules/2d_graphics/BUILD.gn @wanyanglan
rosen/modules/2d_graphics/include/ @wanyanglan
rosen/modules/2d_graphics/src/drawing/ @wanyanglan
rosen/modules/2d_graphics/drawing_ndk/ @wanyanglan
interfaces/kits/napi/graphic/drawing/ @wanyanglan

[IPC]
rosen/modules/render_service_client/core/transaction/rs_interfaces.h @liuchao-huawei
rosen/modules/render_service_client/core/transaction/rs_interfaces.cpp @liuchao-huawei

[display-effect]
rosen/modules/render_service_client/core/ui/ @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/ui/rs_ui_context_manager.cpp @gaoshuai3011
rosen/modules/render_service_client/core/ui/rs_ui_context_manager.h @gaoshuai3011
rosen/modules/render_service_client/core/ui/rs_ui_context.h @gaoshuai3011
rosen/modules/render_service_client/core/ui/rs_ui_context.cpp @gaoshuai3011
rosen/modules/render_service_client/core/ui/rs_ui_director.cpp @gaoshuai3011
rosen/modules/render_service_client/core/ui/rs_ui_director.h @gaoshuai3011
rosen/modules/render_service_client/core/ui/rs_texture_export.cpp @gaoshuai3011
rosen/modules/render_service_client/core/ui/rs_texture_export.h @gaoshuai3011
rosen/modules/render_service_client/core/ui/rs_effect_node.cpp @hanamaru
rosen/modules/render_service_client/core/ui/rs_effect_node.h @hanamaru
rosen/modules/render_service_client/core/ui/rs_union_node.cpp @hanamaru
rosen/modules/render_service_client/core/ui/rs_union_node.h @hanamaru

rosen/modules/render_service_base/include/pipeline/ @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/pipeline/rs_dirty_region_manager.h @chenlushen
rosen/modules/render_service_base/include/pipeline/rs_draw_cmd_list.h @hanamaru
rosen/modules/render_service_base/include/pipeline/rs_effect_render_node.h @hanamaru
rosen/modules/render_service_base/include/pipeline/rs_occlusion_config.h @chenlushen
rosen/modules/render_service_base/include/pipeline/rs_render_display_sync.h @wh_qwe
rosen/modules/render_service_base/include/pipeline/rs_render_node_map.h @gaoshuai3011
rosen/modules/render_service_base/include/pipeline/rs_union_render_node.h @hanamaru

rosen/modules/render_service_base/src/pipeline/ @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/pipeline/rs_dirty_region_manager.cpp @chenlushen
rosen/modules/render_service_base/src/pipeline/rs_draw_cmd_list.cpp @hanamaru
rosen/modules/render_service_base/src/pipeline/rs_effect_render_node.cpp @hanamaru
rosen/modules/render_service_base/src/pipeline/rs_occlusion_config.cpp @chenlushen
rosen/modules/render_service_base/src/pipeline/rs_render_display_sync.cpp @wh_qwe
rosen/modules/render_service_base/src/pipeline/rs_render_node_map.cpp @gaoshuai3011
rosen/modules/render_service_base/src/pipeline/rs_union_render_node.cpp @hanamaru

rosen/modules/render_service/core/drawable/ @xiaojianfeng_jeffery
rosen/modules/render_service/core/drawable/rs_effect_render_node_drawable.cpp @hanamaru
rosen/modules/render_service/core/drawable/rs_effect_render_node_drawable.h @hanamaru
rosen/modules/render_service/core/drawable/rs_union_render_node_drawable.cpp @hanamaru
rosen/modules/render_service/core/drawable/rs_union_render_node_drawable.h @hanamaru

[property-display]
rosen/modules/render_service_client/core/modifier/ @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/ @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/ @hanamaru
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_alpha_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_alpha_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_border_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_border_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_hdr_brightness_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_hdr_brightness_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_mask_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_mask_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_outline_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_outline_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_shadow_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_shadow_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_visibility_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_client/core/modifier_ng/appearance/rs_visibility_modifier.h @xiaojianfeng_jeffery

rosen/modules/render_service_client/core/modifier_ng/background/rs_background_ng_shader_modifier.cpp @hanamaru
rosen/modules/render_service_client/core/modifier_ng/background/rs_background_ng_shader_modifier.h @hanamaru
rosen/modules/render_service_client/core/modifier_ng/background/rs_background_shader_modifier.cpp @hanamaru
rosen/modules/render_service_client/core/modifier_ng/background/rs_background_shader_modifier.h @hanamaru
rosen/modules/render_service_client/core/modifier_ng/foreground/rs_foreground_shader_modifier.cpp @hanamaru
rosen/modules/render_service_client/core/modifier_ng/foreground/rs_foreground_shader_modifier.h @hanamaru

rosen/modules/render_service_base/include/modifier/ @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/modifier/rs_animatable_arithmetic.h @hanamaru

rosen/modules/render_service_base/include/modifier_ng/ @xiaojianfeng_jeffery

rosen/modules/render_service_base/include/modifier_ng/appearance/ @hanamaru
rosen/modules/render_service_base/include/modifier_ng/appearance/rs_alpha_render_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/modifier_ng/appearance/rs_border_render_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/modifier_ng/appearance/rs_hdr_brightness_render_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/modifier_ng/appearance/rs_mask_render_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/modifier_ng/appearance/rs_outline_render_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/modifier_ng/appearance/rs_shadow_render_modifier.h @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/modifier_ng/appearance/rs_visibility_render_modifier.h @xiaojianfeng_jeffery

rosen/modules/render_service_base/include/modifier_ng/background/rs_background_ng_shader_render_modifier.h @hanamaru
rosen/modules/render_service_base/include/modifier_ng/background/rs_background_shader_render_modifier.h @hanamaru
rosen/modules/render_service_base/include/modifier_ng/foreground/rs_foreground_shader_render_modifier.h @hanamaru

rosen/modules/render_service_base/src/modifier_ng/ @xiaojianfeng_jeffery

rosen/modules/render_service_base/src/modifier_ng/appearance/ @hanamaru
rosen/modules/render_service_base/src/modifier_ng/appearance/rs_alpha_render_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/modifier_ng/appearance/rs_border_render_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/modifier_ng/appearance/rs_hdr_brightness_render_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/modifier_ng/appearance/rs_mask_render_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/modifier_ng/appearance/rs_outline_render_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/modifier_ng/appearance/rs_shadow_render_modifier.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/modifier_ng/appearance/rs_visibility_render_modifier.cpp @xiaojianfeng_jeffery

rosen/modules/render_service_base/src/modifier_ng/background/rs_background_ng_shader_render_modifier.cpp @hanamaru
rosen/modules/render_service_base/src/modifier_ng/background/rs_background_shader_render_modifier.cpp @hanamaru
rosen/modules/render_service_base/src/modifier_ng/foreground/rs_foreground_shader_render_modifier.cpp @hanamaru

rosen/modules/render_service_base/include/property/ @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/property/rs_color_picker_def.h @hanamaru
rosen/modules/render_service_base/include/drawable/rs_color_picker_drawable.h @hanamaru
rosen/modules/render_service_base/include/property/rs_point_light_manager.h @hanamaru

rosen/modules/render_service_base/src/property/ @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/drawable/rs_color_picker_drawable.cpp @hanamaru
rosen/modules/render_service_base/src/property/rs_point_light_manager.cpp @hanamaru

rosen/modules/render_service_base/include/drawable/ @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/drawable/ @xiaojianfeng_jeffery

[effect]
rosen/modules/render_service_client/core/ui_effect/ @hanamaru
rosen/modules/render_service_base/include/effect/ @hanamaru
rosen/modules/render_service_base/src/effect/ @hanamaru
rosen/modules/render_service_base/include/render/ @lyt1024
rosen/modules/render_service_base/src/render/ @lyt1024

rosen/modules/render_service_base/src/render/rs_image_base.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/render/rs_image_cache.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_base/src/render/rs_image.cpp @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/render/rs_image_base.h @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/render/rs_image_cache.h @xiaojianfeng_jeffery
rosen/modules/render_service_base/include/render/rs_image.h @xiaojianfeng_jeffery

[IPC]
rosen/modules/render_service/core/transaction/ @white-dragon-tiger
rosen/modules/render_service/main/render_server/transaction/ @white-dragon-tiger
rosen/modules/render_service_base/src/platform/ohos/rs_marshalling_helper.cpp @white-dragon-tiger
rosen/modules/render_service_base/src/platform/ohos/rs_client_to_render_connection_proxy.h @white-dragon-tiger
rosen/modules/render_service_base/src/platform/ohos/rs_client_to_render_connection_proxy.cpp @white-dragon-tiger
rosen/modules/render_service_base/src/platform/ohos/rs_client_to_service_connection_proxy.h @white-dragon-tiger
rosen/modules/render_service_base/src/platform/ohos/rs_client_to_service_connection_proxy.cpp @white-dragon-tiger
rosen/modules/render_service_base/include/command/ @white-dragon-tiger
etc/graphic.para.dac @white-dragon-tiger
rosen/modules/safuzz/ @white-dragon-tiger

[transaction]
rosen/modules/render_service_client/core/transaction/rs_transaction.h @chuchengcheng
rosen/modules/render_service_client/core/transaction/rs_transaction.cpp @chuchengcheng
rosen/modules/render_service_base/src/transaction/rs_transaction_data.cpp @chuchengcheng
rosen/modules/render_service_base/include/transaction/rs_transaction_data.h @chuchengcheng

[animation]
interfaces/kits/napi/graphic/animation/window_animation_manager/ @chensiyi_CE
rosen/modules/animation/window_animation/ @chensiyi_CE
rosen/modules/render_service_client/core/animation/ @chensiyi_CE
rosen/modules/render_service_base/include/animation/ @chensiyi_CE
rosen/modules/render_service_base/src/animation/ @chensiyi_CE

[uifirst]
rosen/modules/render_service/core/feature/uifirst/ @charlielou
rosen/modules/render_service/core/drawable/rs_ui_first_surface_render_node_drawable.cpp @charlielou

[opinc]
rosen/modules/render_service_base/src/feature/opinc/ @conan13234
rosen/modules/render_service/core/feature/opinc/ @conan13234

[composer]
rosen/modules/render_service/core/pipeline/hardware_thread/ @conan13234
rosen/modules/render_service/composer/ @conan13234
rosen/modules/composer/hdi_backend/ @conan13234

[main_thread]
rosen/modules/render_service/core/pipeline/main_thread/rs_main_thread.h @aslklw
rosen/modules/render_service/core/pipeline/main_thread/rs_main_thread.cpp @aslklw
rosen/modules/render_service/core/pipeline/main_thread/rs_render_service.h @aslklw
rosen/modules/render_service/core/pipeline/main_thread/rs_render_service.cpp @aslklw
rosen/modules/render_service/core/pipeline/main_thread/rs_render_service_connection.h @aslklw
rosen/modules/render_service/core/pipeline/main_thread/rs_render_service_connection.cpp @aslklw

[render_thread]
rosen/modules/render_service/core/pipeline/render_thread/rs_base_render_engine.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_base_render_engine.h @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_base_render_util.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_base_render_util.h @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_composer_adapter.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_composer_adapter.h @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_draw_frame.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_draw_frame.h @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_render_engine.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_render_engine.h @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_composer_adapter.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_composer_adapter.h @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_engine.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_engine.h @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_processor.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_processor.h @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_thread.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_thread.h @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_util.cpp @charlielou
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_util.h @charlielou

[Render Profiler]
rosen/modules/render_service_profiler/ @huang_kaixing
rosen/test/render_service/render_service_profiler/unittest/ @huang_kaixing
rosen/modules/render_service_base/include/common/rs_common_def.h @huang_kaixing
rosen/modules/render_service_base/include/platform/ohos/rs_irender_service_connection_ipc_interface_code.h @huang_kaixing

[HWC]
rosen/modules/render_service/core/pipeline/hwc/ @wh_qwe
rosen/modules/render_service/core/feature/hwc/ @wh_qwe
rosen/modules/render_service_base/include/hwc/ @wh_qwe
rosen/modules/render_service_base/src/hwc/ @wh_qwe

[LTPO]
interfaces/inner_api/hyper_graphic_manager/ @wh_qwe
interfaces/kits/napi/graphic/hyper_graphic_manager/ @wh_qwe
rosen/modules/hyper_graphic_manager/ @wh_qwe
rosen/modules/render_service/core/feature/hyper_graphic_manager/ @wh_qwe
rosen/modules/render_service_base/include/feature/hyper_graphic_manager/ @wh_qwe
rosen/modules/render_service_base/include/ipc_callbacks/rs_iframe_rate_linker_expected_fps_update_callback_ipc_interface_code.h @wh_qwe
rosen/modules/render_service_base/include/ipc_callbacks/rs_iframe_rate_linker_expected_fps_update_callback.h @wh_qwe
rosen/modules/render_service_base/include/ipc_callbacks/rs_ihgm_config_change_callback_ipc_interface_code.h @wh_qwe
rosen/modules/render_service_base/include/ipc_callbacks/rs_ihgm_config_change_callback.h @wh_qwe
rosen/modules/render_service_base/include/transaction/rp_hgm_config_data.h @wh_qwe
rosen/modules/render_service_base/include/transaction/rs_hgm_config_data.h @wh_qwe
rosen/modules/render_service_base/src/feature/hyper_graphic_manager/ @wh_qwe
rosen/modules/render_service_base/src/transaction/rp_hgm_config_data.cpp @wh_qwe
rosen/modules/render_service_base/src/transaction/rs_hgm_config_data.cpp @wh_qwe
rosen/modules/render_service_client/core/feature/hyper_graphic_manager/ @wh_qwe

[screen manager]
rosen/modules/render_service/core/screen_manager/ @pengquan1
rosen/modules/render_service_base/include/screen_manager/ @pengquan1
rosen/modules/render_service_base/src/screen_manager/ @pengquan1
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_virtual_processor.h @pengquan1
rosen/modules/render_service/core/pipeline/render_thread/rs_uni_render_virtual_processor.cpp @pengquan1

[render_group]
rosen/modules/render_service_base/src/feature/render_group @zhangzhichao0091
rosen/modules/render_service_base/include/feature/render_group @zhangzhichao0091
rosen/modules/render_service/core/feature/render_group @zhangzhichao0091

[hard_pointer]
rosen/modules/render_service/core/pipeline/rs_pointer_window_manager.h @shi_guoquan
rosen/modules/render_service/core/pipeline/rs_pointer_window_manager.cpp @shi_guoquan

[prevalidate]
rosen/modules/render_service/core/feature/hwc/rs_uni_hwc_prevalidate_util.h @shi_guoquan
rosen/modules/render_service/core/feature/hwc/rs_uni_hwc_prevalidate_util.cpp @shi_guoquan

[special_layer]
rosen/modules/render_service_base/include/common/rs_special_layer_manager.h @hw-hk
rosen/modules/render_service_base/src/common/rs_special_layer_manager.cpp @hw-hk
rosen/modules/render_service/core/feature/special_layer/rs_special_layer_utils.h @hw-hk
rosen/modules/render_service/core/feature/special_layer/rs_special_layer_utils.cpp @hw-hk

[dirty_region]
rosen/modules/render_service/core/feature/dirty @chenlushen
rosen/modules/render_service_base/include/dirty_region @chenlushen
rosen/modules/render_service_base/src/dirty_region @chenlushen
rosen/modules/render_service_base/include/common/rs_occlusion_region.h @chenlushen
rosen/modules/render_service_base/src/common/rs_occlusion_region.cpp @chenlushen
rosen/modules/render_service_base/include/common/rs_occlusion_region_helper.h @chenlushen
rosen/modules/render_service_base/src/common/rs_occlusion_region_helper.cpp @chenlushen
rosen/modules/render_service_base/include/pipeline/rs_dirty_region_manager.h @chenlushen
rosen/modules/render_service_base/src/pipeline/rs_dirty_region_manager.cpp @chenlushen
rosen/modules/render_service/core/drawable/dfx/rs_dirty_rects_dfx.h @chenlushen
rosen/modules/render_service/core/drawable/dfx/rs_dirty_rects_dfx.cpp @chenlushen

[capture]
rosen/modules/render_service/core/feature/capture @chuchengcheng